body {background-color: rgb(226, 15, 15);} /*Isso serve para mudar a cor do fundo da pagina*/
.segundaquebradelinha>{ /*Isso serve para modificar os objetos desta classe*/
    height:30px; /*Isso serve para definir a altura de uma linha horizontal*/
}
.terceiraquebradelinha { /*Isso serve para modificar os objetos desta classe*/
    height:30px; /*Isso serve para definir a altura de um linha horizontal*/
    background-color: black; /*Isso serve para mudar a cor do fundo da pagina*/
    border:none /*Isso serve para definir uma borda*/
}
h1{ /*Modificar o tipo de texto h1*/
    color:yellow /*Modificar a cor*/
}
ol{ /*Modificar a lista ordenada*/
    color:yellow /*Modificar a cor*/
}